<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXp-a2zw9nK2B3DyBRHtm3GJ0dc00bZaA</string>
	<key>GCM_SENDER_ID</key>
	<string>685663361062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assistapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assistapp-6b07f</string>
	<key>STORAGE_BUCKET</key>
	<string>assistapp-6b07f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685663361062:ios:f5b7cb01d84982d2842ee7</string>
</dict>
</plist>